:root {
    --primary: rgb(45, 45, 72);
    --secondary: rgb(255,255,255);

}

body {
    min-width: 500px;
    min-height: 400px;
    background-color: var(--primary);
    color: var(--secondary);
    font-size: 1rem;
    padding: 0;
    margin: 0;
    font-family: 'Assistant', sans-serif;
}

#name-section {
    margin: 4px;
    border: solid;
    border-radius: 8px;
}

.name-container {
    margin: 8px 4px;
    font-size: 1.3rem;
    border: solid;
    display: flex;
}

.refresh-button {
    height: 40px;
    align-self: center;
    flex: 0.5;
    margin-right: 10px;
    background-color: var(--secondary);
    border: none;
}

.generated-name {
    margin-left: 10px;
    flex: 1;
}

.label-name {
    flex: 0.6;
    margin-left: 20px;
}

.refresh-button:hover {
    cursor: pointer;
}